/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2017, 12:12:06 PM
    Author     : Matthews
*/

.tableitems{
 
   -fx-background-color: blue;
}
.labelstyle{
    -fx-background-color:#bbdefb ;
    -fx-background-radius:10,10;
}
.mainFxmlClass{
    -fx-background-color: white;
}
.topmenu{
  -fx-background-color:#303f9f  ;
    -fx-background-radius:10,10;  
}
.topmenu :hover{
    -fx-background-color:#388e3c;
}
.sidebar{
    -fx-background-color:black ;
    -fx-background-radius:10,10;   
   
}
.sidebar :hover{
    -fx-background-color:#388e3c;
}
.topcornerleft{
    -fx-background-image: url("/assetmanagement/images/images_008.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
}
.textsfields{
    -fx-text-fill:blue;
    -fx-background-color:white;
    -fx-background-radius:6,6,6,6;
}
