.root{
   -fx-background-image: url("/assetmanagement/images/egerton.jpg");
   -fx-background-repeat: no-repeat;
   -fx-background-size: cover;
}
.label{
    -fx-text-fill:black;
    -fx-font-weight:bold;
   
}
