/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2017, 8:31:35 PM
    Author     : makwata
*/
.root{
    -fx-background-color: #29306b;
    -fx-font-size: 10pt;
}
.button{
    -fx-background-color: #b81016;
    -fx-font-size: 10pt;
}
